<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="oauth.net.components" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
  </configSections>
  <oauth.net.components>
    <!-- Components -->
    <components>
      <!-- Signing provider for HMAC-SHA1 -->
      <component id="signing.provider:HMAC-SHA1" service="OAuth.Net.Common.ISigningProvider, OAuth.Net.Common" type="OAuth.Net.Components.HmacSha1SigningProvider, OAuth.Net.Components" lifestyle="thread"/>
      <!-- Nonce provider -->
      <component id="nonce.provider" service="OAuth.Net.Common.INonceProvider, OAuth.Net.Common" type="OAuth.Net.Components.GuidNonceProvider, OAuth.Net.Components"/>
    </components>
  </oauth.net.components>
</configuration>